# Python
__pycache__/
*.py[cod]
*$py.class

# Django
settings.py
*.log
*.pot
*.pyc
*.sqlite3
*.db
db.sqlite3
staticfiles/
static_root/
.env
.env.*

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual environments
venv/
ENV/
env/
.venv/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/

# Test-related
.pytest_cache/
cover/

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo

# Local settings
local_settings.py
settings/local.py
settings/dev.py
